<p id="notice"><%= notice %></p>

<h1>My Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_lists.each do |my_list| %>
      <tr>
      <% if my_list.user == current_user %>
        <td><%= my_list.name %></td>
        <td><%= link_to 'Show', lists_path(:my_list_id => my_list.id) %></td>
        <td><%= link_to 'Edit', edit_my_list_path(my_list) %></td>
        <td><%= link_to 'Destroy', my_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My List', new_my_list_path %>
